@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'VT323', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
  button,
  input,
  textarea {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    appearance: none;
    -webkit-appearance: none;
  }
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
